@use '../variables' as *;

.toggleSwitch{
    width: 70px;
    height: 40px;
    border-radius: 999px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &.on{
        background-color: $active_color;
        .toggleSwitchCicle{
            left: 34px;
        }
    }
    .toggleSwitchCicle{
        width: 32px;
        height: 32px;
        background-color: $light-bg;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        left: 4px;
        transition: left 0.3s ease;
    }
}